body {
    font-family: "Comic Sans MS", serif;
    margin:0;
}

header {
    background-color: #EAE7E8;
    height: 25%;
    float:left;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 40px;
}

#TopHolder {
    float: right;
}

#ProductHolder  {
    width:100%;

}

.ProductCell {
    height:100%;
    margin:6px;
    padding:6px;
}

.Product h2{
    color:pink;
}

.ProductCategory h1 {
    color:pink;
}

.TallBlogPost a {
    background-color: green !important;
}

.TallBlogPost h2 {
    color: pink;
}

.TallBlogPost h1 {
    color:pink;
}

.TallBlogPost {
    width:100%;
    text-align:center;
}

#NextPosts {
    float:left;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    text-align:center;
    display:block;
}

#CenterBlogHolder {
    width: 100%;
    float: left;
}

.TallBlogPost article {
    max-height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.BlogPostTopPart article {
    max-height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.BlogPostTopPart {
    
    padding:12px 0px;
    height:auto;
    display:block;
}

.BlogPostTopPart {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    float: left;
}

.BlogHR {
    display: block;
    margin-top:2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.BlogPostBottomPart {
    grid-template-columns: 1fr 3fr;
    float: left;
}

.BlogPostTopPart img {
    display: inline;
}

#TopHolder div {
    display: inline-block;
    color: darkgray;
    font-size: 100%;
    padding-right: 75px;
}

#TopHolder div:hover .TopHidden {
    display: block;
    color:#c8c10d;
}

#TopHolder .TopHidden {
    position:absolute;
    display: none;

}

#TopHolder div a {
    text-decoration: none;
}

#TopHolder a:hover {
    color:#c8c10d !important;
}

#TopHolder a:first-child {
    color:#E32A62;
}

header div {
    vertical-align: center;
    text-align: left;
}

#CenterImgHolder {
    height: 660px;
    background: #FBFBFB url("img/BackgroundImg.png") no-repeat center;
    width: 100%;
    float: left;
}

#CenterImgHolder img {
    margin-left: 58%;
    margin-top: 25%;
}

#GreenBar {
    padding: 40px 0;
    width: 100%;
    float:left;
    background: #C8C10D;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

#GreenBarItemHolder div {
    float: left;
    height: 100%;
    width: 25%;
    text-align: center;
    vertical-align: center;
    color:white;
}

#Featured div {
    width: 60%;
}

#Featured div h1 {
    color:#E32A62;
}
#Featured div h3 {
    margin-top:30px;
    color: #666;
}

#Featured div {
    color: gray;
}

#Featured {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    float:left;
    text-align: left;
    width: 100%;
    height: 260px;
    padding-top: 40px;
    padding-bottom: 60px;
    background: #EAE7E8 url("img/Brightness_Contrast 31.png") bottom no-repeat;
}
.BlogPostTopPart h2 {
    color:pink;
}

.BlogPostTopPart a {
    background-color:green !important;
}

footer {
    float: left;
    width: 100%;
    padding-top: 60px;
    color: white;
    height: 220px;
    background: #CB3362;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    text-align: center;
}


#CenterBlogBar {
    width: 100%;
    height: 100px;
    float:left;
    background-color: #4caf50;
    font-size: 250%;
    color:white;
    text-align:center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

#AboutHolder {
    display:grid;
    grid-template-columns:1fr 3fr;
    grid-column-gap:12px;
    float:left;
}

#AboutImgBar {
    height:247px;
    width:100%;
    float:left;
    background: gray url("img/aboutImg.png") center center no-repeat;
    background-size:cover;
}

#AboutHolder a {
    color:green;
}

#AboutHolder h1, #AboutHolder h2 {
    color:pink;
}

#AboutLeft {
    padding:12px;
    background:#ddd;
    margin-top:60px;
    margin-bottom:100px;
    line-height:3.5em;
}

#LocationBar {
    float:left;
    height:250px;
    width:100%;
    background:gray url("../../Content/img/contactbg.png") center center no-repeat;
    background-size:cover;
    display:flex;
    justify-content:center;
}

#LocationBar div {
    background:rgba(255,255,255,0.8);
    margin:40px 20px;
    padding:6px;
    width:70%;
    height:auto;
    
    box-sizing:border-box;
}

#LocationBar div {
    text-align:left;
}

#LocationBar div img {
    height:100%;
    margin-right:12px;
    box-sizing:border-box;
    float:left;
    clear:left;
}

#LocationBar h1 {
    color:pink;
}

#InquryForm {
    width:100%;
    float:left;
}

#InquryForm h1 {
    color: pink;
    margin-bottom:40px;
}

#InquryForm input {
    display:block;
    height:2em;
    margin:12px 0;
}

#InquryForm input[type="submit"]{
    background:white;
    color:pink;
    border:1px solid pink;
    height:2em;
    padding:6px;
}

.InlineInput {
    display:inline;
}

.Inivs {
    display:none;
}