@{
    ViewBag.Title = "About";
}

<div id="CenterBlogBar">
    ABOUT
</div>
<div id="AboutImgBar">

</div>
<div class="col-lg-3"></div>
<div class="col-lg-6" id="AboutHolder">
    <div id="AboutLeft">
        <h1>BE A PART OF COMMUNITY</h1>
        <article>
            <p>
            Lorem ipsum sit dormet.
            Lorem ipsum sit dormet.
            Lorem ipsum sit dormet.
            Lorem <a href="#">ipsum sit dormet.</a> 
            Lorem ipsum sit dormet.
            Lorem ipsum sit dormet.
            Lorem ipsum sit dormet.
            Lorem ipsum sit dormet.
            Lorem ipsum sit dormet
            </p>
        </article>
    </div>
    <div id="AboutRight">
        <article>
            <h1>WE HAVE FREE TEMPLATES FOR EVERYONE</h1>
            <p>
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet
            </p>
            <h1>WE HAVE FREE TEMPLATES FOR EVERYONE</h1>
            <p>
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet
            </p>
            <h2>TEMPLATE DETAILS</h2>
            <p>
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet
            </p>
            <p>
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
                Lorem ipsum sit dormet.
            </p>
        </article>
    </div>
</div>
<div class="col-lg-3"></div>