@{
    ViewBag.Title = "Home Page";
}

<main>
    <div id="CenterImgHolder">
        <a href=".">
            <img src="~/Content/img/Circles.png" alt="">
        </a>
    </div>
    <div id="Featured">
        <div></div>
        <div id="FeaturedContentHolder">
            <h3>NEW PRODUCT</h3>
            <h1>The Twist of Healthy Yoghurt</h1>
            Lorem Ipsum sit dormet Lorem Ipsum sit dormet Lorem Ipsum sit dormet Lorem Ipsum sit dormet Lorem Ipsum sit dormetvLorem Ipsum sit dormet Lorem Ipsum sit dormet Lorem Ipsum sit dormet Lorem Ipsum sit dormet
        </div>
        <div></div>
    </div>
    <div id="GreenBar">
        <div></div>
        <div id="GreenBarItemHolder">
            <div>
                <img src="~/Content/img/muffin.png" alt="Muffin">
                <br>
                PRODUCTS
            </div>
            <div>
                <img src="~/Content/img/hands.png" alt="Hands">
                <br>
                OUR STORY
            </div>
            <div>
                <img src="~/Content/img/pear.png" alt="Flavors">
                <br>
                FLAVORS
            </div>
            <div>
                <img src="~/Content/img/location.png" alt="Location">
                <br>
                OUR LOCATION
            </div>
        </div>
        <div></div>
    </div>
</main>