@model WebApplication3.Models.BlogPost
@using WebApplication3.Models
@using WebApplication3.Misc

@{
    var sm = new SessionManager(Session);
    ViewBag.Title = "Create";
}
<div id="CenterBlogBar">
    Create new post
</div>
<div>
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">

        <form action="@Url.Action("Create","Blog")" method="post">
            <label for="FileSelect">Select a picture:</label><br />
            <input class="form-control" id="FileSelect" type="file" name="Picture" value="" />
            <br />
            <div>
                <label for="Title">Title:</label>
                <input class="InlineInput form-control" id="Title" type="text" name="Title" value="" /><br />
                <label for="Content">Content:</label>
                <textarea id="Content" style="min-height:6em" class="form-control" name="Content"></textarea>
                <br />
            </div>
            <button style="margin-bottom:12px" class="btn btn-primary btn-lg active" type="submit">CREATE</button>
        </form>

    </div>
    <div class="col-lg-3">

    </div>
</div>